@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.cm-editor {
  height: 100%;
}

.cm-editor .cm-scroller {
  font-family: 'JetBrains Mono', monospace;
  line-height: 1.6;
}

.cm-editor.cm-focused {
  outline: none;
} 